@use "../abstract/" as *;

button
{
    background-color: white;
    border: 3px dimgray solid;
}
.navigation
{
    width: 500px;
    margin: 0 auto;
    position: sticky;
}

.navigation button
{
    margin: 10px;
    background-color: $dimgreen;
    color: white;
    padding: 10px 20px;
    border: 0px;
}
